*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(360deg, rgba(109, 61, 23, 0.9) -3.61%, #162849 65.05%);
    width: 100vw;
    height: 100vh;
}

header{
    width: 100vw;
    height: 7vh;
    transition: ease-in 0.2s;
}
header:hover{
    background-color: rgba(85, 81, 81, 0.217);
    box-shadow: 0 1px 2px 1px rgba(85, 81, 81, 0.217);
}

main{
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 64px;
    color: #E5E9FF;
    margin-top: 30px;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.glavnoe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 45vw;
    height: 75vh;
}
.pogodaImg{
    background-image: url(src/Group\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30vw;
    height: 30vh;
}
.nedelya{
    width: 45vw;
    height: 75vh;
    background-color: black;
}